* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  text-justify:distribute;
}

body {
  background: linear-gradient(90deg, #e53935, #e35d5b);
  height: 100vh;
  overflow: hidden;
}

section {
  height: 100vh;
}

.heart {
  top: -10vh;
  transform: translateY(0);
  position: fixed;
  color: #860000;
  animation: fall 3s linear;
}

@keyframes fall{
  to {
    transform: translateY(105vh);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btns {
  display: flex;
  width: 100%; 
  justify-content: center; 
  padding-top: 80px;
}

.btn.btn-dark {
  margin: 0 40px;
}

.gif {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;

}